.container {
  margin: 32px;
  margin-top: 0px;
  padding: 20px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.textContainer {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.211);
  border-radius: 5px;
}
.buttonContainer {
  display: flex;
  align-items: center;
}
.addItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.button {
  background: none;
  background-color: #ffffff;
  color: "grey";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.211);
  border-radius: 5px;
}
.button:hover {
  background-color: #f8f9fa;
}
.timeStr {
  color: rgb(25, 25, 208);
  cursor: pointer;
}
.image {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.hoveredImageIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .additemcontainer {
    flex-direction: column;
    width: 100%;
  }

  .buttonContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .container {
    margin: 16px;
  }
}
