.container {
  margin: 32px;
  margin-top: 0px;
  padding: 20px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.textContainer {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.211);
  border-radius: 5px;
}
.buttonContainer {
  display: flex;
  align-items: center;
}
.button {
  background: none;
  background-color: #ffffff;
  color: "grey";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.211);
  border-radius: 5px;
}
.button:hover {
  background-color: #f8f9fa;
}
